#tableExpense{
    width : 50%
}

#headerTable{
    text-align: center;
}
th,
td {
  border: 1px solid black;
  min-width: 125px;
  overflow: hidden;
}

#rowType{
    padding-left: 0%;
    padding-right: 0%;

}
#rowInType{
    text-align: center;
}

#minRow{
    min-width: 80px;
}
#mediumRow{
    min-width: 125px;
}
#maxRow{
    min-width: 200px;
}
#rowHeaderType{
    text-align: center;
    border-width: 0px;
    padding-left: 0%;
    padding-right: 0%;
}
#buttonPack{
    min-width: 530px;
}

.main{
    display:table;
}
.left{
    float:left;
}
.center{
    background:green;
    width:100px;
    float:left;
}
.right{
    width:65px;
    float:right;
}
.container{
    display:table-cell;
    vertical-align:middle;
}

.contents{
    margin:auto;
    height:20px;
    width:20px;
    background:lightGrey;
}
#center{
    text-align: center;
}